
.container {
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap;
}

.card {
    flex-wrap: 'wrap';
    max-width: 40%;
    /* flex: 2;  */
    margin: 2%;
    flex-direction: row;
    padding: 0rem;
}

/* .card-img-overlay{
    padding: 0rem;
  } */


@media only screen and (max-width: 766px) {
    .card-img-overlay{
        padding: 0rem;
      }
  }
  
  @media only screen and (min-width: 767px) and (max-width: 1500px) {
    .card-img-overlay{
        padding: 0rem;
      }
  }